* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
  color: #333333;
  font-family: 'Source Serif Pro', serif;
}

body {
  background-color:#F7F7F7;
}

nav {
  display: flex;
  justify-content: space-between;
}

/* Peter Strauli in top corner */
.nav_name {
  font-size: 24px;
  border-bottom: 2px solid #5271FF;
}

/* Contact link */
nav a {
  font-size: 24px;
  text-decoration: none;
  background-color: #5271FF;
  color: #fff;
  padding: 1rem 2rem;
  border-radius: 50px;
}

header {
  display: flex;
  flex-direction: column;
  margin: 175px 60px; 
}

/* 'Hi I'm Peter Strauli' */
h1 {
  font-size: 56px;
}

/* 'I’m a Frontend Developer...' */
.intro {
  font-size: 27px;
}

main {
  display: flex;
  margin: 0 60px 180px;
}

main h3 {
  font-size: 27px;
}

main p {
  font-size: 20px;
}

.frontend, .accessibility, .other_skills {
  display: flex;
  flex-direction: column;
}

footer {
  display: flex;
  justify-content: space-between;
  height: 210px;
  background-color: #5271FF;
  padding: 25px 0;
}

footer h2 {
  font-size: 27px;
  color: #fff;
  margin-left: 60px;
}

footer ul {
 display: flex;
 flex-direction: column;
 list-style: none;
 margin-right: 60px;
}

footer ul li a {
  color: #fff;
  font-size: 27px;
  text-decoration: none;
}

footer a:hover {
  color: #fff;
  font-size: 27px;
  text-decoration: underline;
}



