* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  color: #333333;
  font-family: 'Source Serif Pro', serif;
}

body {
  background-color:#F7F7F7;
}

nav {
  display: flex;
  justify-content: space-between;
  margin: 2rem 3.75rem 0 3.75rem;
  font-weight: 300; 
  font-size: 1.5rem; 
}

nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 50%;
}

/* Contact link */
.contact {
  text-decoration: none;
  background-color: #2447b2;
  color: #fff;
  padding: 1rem 2rem;
  border-radius: 50px;
  font-weight: 300;
}

nav a:hover {
  background-color: #1a327c;
}

.burger {
  display: none;
}

header {
  display: flex;
  flex-direction: column;
  margin: 10rem 3.75rem; 
}

/* 'Hi I'm Peter Strauli' */
h1 {
  font-size: 64px;
  font-weight: 300;
  margin: 0 0 4rem 0;
}

/* .wave {
  cursor: pointer;
}

.wave:hover {
  transform: scale(1.5);
} */

/* 'I’m a Frontend Developer...' */
.intro {

  width: 75%;

  font-size: 32px;
  font-weight: 300;
  line-height: 1.8;
}

main {
  display: flex;
  justify-content: space-between;
  margin: 5rem 3.75rem 10rem;
}


main h3 {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 2rem;
  /* text-align: center; */
}

main p {
  font-size: 20px;
  font-weight: 300;
  line-height: 1.5;
  text-align: justify;
}

section {
  display: flex;
  flex-direction: column;
  width: 30%;
}

footer {
  display: flex;
  justify-content: space-between;
  height: 240px;
  background-color: #2447b2;
  padding-top: 25px;
  padding-bottom: 25px;
  
}

footer h2 {
  align-self: center;
  font-size: 2rem;
  color: #fff;
  margin-left: 3.75rem;
  font-weight: 300;
  
}

footer ul {
 display: flex;
 flex-direction: column;
 list-style: none;
 margin-right: 3.75rem;
}

footer ul li a {
  color: #fff;
  font-size: 1.75rem;
  font-weight: 300;
  text-decoration: none;
  line-height: 2.5rem;
}

footer a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 1080px) {
  main {
    flex-direction: column;
  }
  section {
    width: 100%;
    margin-bottom: 2.5rem;
  }
}

@media screen and (max-width: 720px) {
  .intro {
    font-size: 1.5rem;
  }
  footer ul li a {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 550px) {
  .nav_name {
    font-size: 1.5rem;
  }
  nav a {
    font-size: 1.25rem;
  }
  h1 {
    font-size: 3rem;
  }
  .intro {
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 510px) {
  
  .nav_name {
    display: none;
  }
  
  nav a {
    display: none;
  }


  header {
    margin: 6rem 2rem 6rem;
  }

  h1 {
    font-size: 2.5rem;
    margin: 0 0 2rem 0;
  }

  .intro {
    font-size: 1.375rem;
    width: 100%;
  }
}



