* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  color: #333333;
  font-family: 'Source Serif Pro', serif;
}

body {
  background-color:#F7F7F7;
}

nav {
  display: flex;
  justify-content: space-between;
}

/* Peter Strauli in top corner */
.nav_name {
  font-size: 2rem;
  /* border-bottom: 2px solid #5271FF; */
  margin-top: 1.5rem;
  margin-left: 60px;
  padding: 1rem 0;
  font-weight: 300;
  
}

/* Contact link */
nav a {
  font-size: 24px;
  text-decoration: none;
  background-color: #5271FF;
  color: #fff;
  padding: 1rem 2rem;
  border-radius: 50px;
  margin-top: 1.5rem;
  margin-right: 60px;
  font-weight: 300;
  line-height: 1.5;
}

nav a:hover {
  background-color: rgb(66, 91, 201);
}

header {
  display: flex;
  flex-direction: column;
  margin: 160px 60px; 
}

/* 'Hi I'm Peter Strauli' */
h1 {
  font-size: 64px;
  font-weight: 300;
  margin: 0 0 2rem 0;
}

/* .wave {
  cursor: pointer;
}

.wave:hover {
  transform: scale(1.5);
} */

/* 'I’m a Frontend Developer...' */
.intro {

  width: 75%;

  margin-top: 2rem;

  font-size: 32px;
  font-weight: 300;
  line-height: 1.8;
}

main {
  display: flex;
  justify-content: space-between;
  margin: 0 60px 180px;
}

main h3 {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 2rem;
  text-align: center;
}

main p {
  font-size: 20px;
  font-weight: 300;
  line-height: 1.5;
  text-align: justify;
}

.frontend, .accessibility, .other_skills {
  display: flex;
  flex-direction: column;
  width: 30%;
}

/* .frontend {
  padding-right: 20px;
}

.accessibility {
  padding-right: 20px;
  
} */

footer {
  display: flex;
  justify-content: space-between;
  height: 240px;
  background-color: #5271FF;
  padding-top: 25px;
  padding-bottom: 25px;
  
}

footer h2 {
  align-self: center;
  font-size: 2rem;
  color: #fff;
  margin-left: 60px;
  font-weight: 300;
  line-height: 1.75rem;
}

footer ul {
 display: flex;
 flex-direction: column;
 list-style: none;
 margin-right: 60px;
}

footer ul li a {
  color: #fff;
  font-size: 1.75rem;
  font-weight: 300;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}



